{% extends "SiteReverseBundle:Default:index.html.twig" %}

{% block head %}
<title> Add Article </title>
{% endblock %}

{% block body%}

<center>

<p> We can Add Article here :</p>


<form action="{{ path("re_AddArticle") }}" method="post">

{{ form_widget(form) }}

<input type="submit">
</form>
<br><br>

<a href="{{ path("re_Homepage") }}" title="Site">Back</a>
{% include "SiteReverseBundle:Default:footer.html.twig" %}
</center>
{% endblock %}
