{% extends "SiteReverseBundle:Default:index.html.twig" %}

{% block head %}
<title> Edit Article </title>
{% endblock %}


{% block body%}
<center>

<p> We can Edit Article here :</p>
<form action="{{ path("re_EditArticle", { id: id }) }}" method="post">

{{ form_widget(form) }}

<input type="submit">
</form>
<br><br>

<a href="{{ path("re_Homepage") }}" title="Site">Site</a>

{% include "SiteReverseBundle:Default:footer.html.twig" %}
</center>

{% endblock %}


