{% extends "SiteReverseBundle:Default:index.html.twig" %}



{% block body %}

<center>

<h1> Voir Article</h1>
<a href="{{ path("re_AddArticle") }}" title="Add an Article">Add an Article</a>

{% include "SiteReverseBundle:Default:ArticleContent.html.twig" with { 'link' : false } %}

<br><br>


{% include "SiteReverseBundle:Default:footer.html.twig" %}
</center>

{% endblock %}
