{% block AddComment %}

<div class="accordion-heading">
<a class="accordion-toggle" data-toggle="collapse" href="#collapseAdd">
<span class="badge badge-info">Add</span>
</a>
</div>

<div id="collapseAdd" class="accordion-body collapse">
<div class="accordion-inner">
Add a new comment
</div>
</div>
{% endblock %}

