{% extends "SiteReverseBundle:Default:index.html.twig" %}

{% block head %}
{% block title %}<title> Add Submit | reverse-engineering.fr</title>{% endblock %}
{% endblock %}

{% block body%}
{% block navbar %}
{% include "SiteReverseBundle:Default:navbarS.html.twig" %}
{% endblock %}
      <div class="container-narrow">
      <div class="row-fluid">
      <div class="jumbotron">

<center>

<p> We can Add Submit here :</p>


<form action="{{ path("re_AddSubmit") }}" method="post">

{{ form_widget(form) }}
{{ form_rest(form) }}

<input type="submit">
</form>
<br><br>



<a href="{{ path("re_Homepage") }}" title="Site">Back</a>

{% include "SiteReverseBundle:Default:footer.html.twig" %}
</center>
</div>
</div>
{% endblock %}


