              <li class="span3">
                <div class="thumbnail">
                  <img data-src="holder.js/220x200" alt="220x200" style="width: 220px; height: 200px; " src="data:image$
                  <div class="caption">
                    <h3>Article</h3>
   		      <a href="{{ path("re_VoirArticle", { id: article.id }) }}" title="{{ article.titre }}">{{ article.titre }}</a><br>
                    <p><a href="#" class="btn-small btn-info">Action</a> <a href="#" class="btn-small">Action</a></p>
                  </div>
                </div>
              </li>

