{% block breadcrumb %}

<div class="row-fluid">
<div class="span12">
  <center>
  <ul class="breadcrumb">
  <li><a href="{{ path("re_Homepage") }}"><i class="icon-home"></i></a><span class="divider">></span></li>
<li><a href="{{ path("re_About") }}">Ads</a><span class="divider">></span></li>
<li class="active"><a href="{{ path("re_Security") }}">Security</a><span class="divider"></span></li>
    </center></ul>
</div>
<br><br>
<br><br>
{% endblock %}

