
{% block breadcrumb %}


<div class="row-fluid">
<div class="span12">
  <center>
  <ul class="breadcrumb">
<li class="active"><a href="{{ path("re_Homepage") }}" title="Home"><i class="icon-home"></i></a><span class="divider">></span></li>
  </center>
  </ul>


</div>
<br><br>
{% endblock %}
