{% extends "SiteReverseBundle:Default:index.html.twig" %}

{% block head %}
{% block title %}<title> {{ publication.titre }} | reverse-engineering.fr</title>{% endblock %}
{% endblock %}

{% block body %}
{% block navbar %}
{% include "SiteReverseBundle:Default:navbarP.html.twig" %}
{% endblock %}
      <div class="container-narrow">
      <div class="row-fluid">
      <div class="jumbotron">


<center>

<p> We can Edit Publication here :</p>
<form action="{{ path("re_EditPublication", { id: id }) }}" method="post">

{{ form_widget(form) }}

<input type="submit">
</form>
<br><br>

<a href="{{ path("re_Homepage") }}" title="Site">Site</a>
</center>


{% include "SiteReverseBundle:Default:footer.html.twig" %}


{% endblock %}
